:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "open sans", "sans serif";
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-alt-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-color)
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

.page {
    min-height: 100vh;
    background-color: #f1f5f9;
}

/*Start Sidebar*/
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar h3 {
    margin-bottom: 50px;
}

.sidebar h3::after,
.sidebar h3::before {
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar h3::after {
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    bottom: -28px;
}


.sidebar h3::before {
    width: 80px;
    height: 2.5px;
    bottom: -20px;
}

.sidebar ul li a {
    margin-bottom: 5px;
    transition: .3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f9f9f9;
    border-radius: 6px;
}

.sidebar ul li a span {
    margin-left: 10px;
}

/* End Sidebar*/
/* Start  content */
.content {
    overflow: hidden;
}

.content .search::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f002';
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.content .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 40px;
    width: 160px;
    transition: width 0.3s;
}

.content .search input:focus {
    width: 210px;
}

.content .search input:focus::placeholder {
    opacity: 0;
}

.icons {
    font-size: 18px;
}

.head .notif::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    right: -5px;
    background: var(--red-color);
    border-radius: 50%;
    top: -5px;
}

.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::after,
.page h1::before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    border-radius: 100px;
    bottom: -10px;
}

.page h1::before {
    width: 150px;
    background-color: white;
}

.page h1::after {
    width: 50px;
    background-color: black;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* End content */

/* Start Welcome */
.welcome {
    overflow: hidden;
}

.welcome img {
    width: 200px;
    margin-bottom: -20px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 3px;
    box-shadow: 0 0 10px #ddd;
    margin-left: 25px;
    margin-top: -32px;
}

.welcome .body {
    border-bottom: 1px solid #eee;
}

.welcome .body div {
    flex: 1;
}

.welcome .visit {
    transition: .3s;
    margin: 0 15px 15px auto;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

/* End Welcome */

/* Start Quick */

.quick textarea {
    min-height: 180px;
    resize: both;
}

.quick .save {
    margin-left: auto;
    transition: .3s;
    cursor: pointer;
}

.quick .save:hover {
    background-color: var(--blue-alt-color);
}

/* End Quick */
/* Start Target  */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 5px;
}

.targets .details .progress>span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.targets .details .progress>span span::after {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 7px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.targets .details .progress>.blue span::after {
    border-top-color: var(--blue-color);
}

.targets .details .progress>.orang span::after {
    border-top-color: var(--orange-color);
}

.targets .details .progress>.green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 21 255 / 20%);
}

.orang .icon,
.orang .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* End Target  */
/* ÙStart ticket  */
.ticket .box {
    border: 1px solid #ddd;
    width: calc(50% - 10px);
}

/* End ticket  */
/* Start Latest News  */
.latest .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.latest img {
    width: 100px;
    margin-right: 10px;
    border-radius: 6px;
}

.latest .info {
    flex-grow: 1;
}

.latest .info h3 {
    margin: 0 0 5px;
    font-size: 16px;
}

/* End Latest News */
/* Start Latest Tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.tasks .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: .3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    transition: .3s;
    cursor: pointer;
}

.tasks .delete:hover {
    color: var(--red-color);
}

/* End Latest Tasks */
/* Start  Top Search Items*/
.search-item .item:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

/* End Top Search Items */
/* Start Latest Uploads */
.latest-uploads ul li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}

/* End Latest Uploads */
/* Start  Last Project */
.last-project ul::before {
    content: '';
    position: absolute;
    left: 10px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-alt-color);
}

.last-project ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-alt-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    background-color: var(--blue-alt-color);
}

.last-project ul li.current::before {
    animation: change-color .7s alternate infinite;
}

@keyframes change-color {
    from {
        background-color: var(--blue-alt-color);
    }

    to {
        background-color: white;
    }
}

.last-project .project-icon {
    position: absolute;
    width: 170px;
    right: 0;
    bottom: 0;
    opacity: .5;
}

/* End Last Project */
/* Start Reminders */
.reminders .key {
    width: 15px;
    height: 15px;
}

.reminders ul li .blue {
    border-left: 2px solid var(--blue-color);
}

.reminders ul li .green {
    border-left: 2px solid var(--green-color);
}

.reminders ul li .orange {
    border-left: 2px solid var(--orange-color);
}

.reminders ul li .red {
    border-left: 2px solid var(--red-color);
}

/* End Reminders */
/* Start Latest Posts */
.latest-post .avatar {
    width: 48px;
    height: 48px;
}

.latest-post .post {
    text-transform: capitalize;
    line-height: 2;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/* End Latest Post */
/* Start Social Media Stats */

.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    transition: .3s;
}

.social-media .github {
    background-color: rgb(51 51 51 / 21%);
    color: #333;
}

.social-media .github i,
.social-media .github a {
    background-color: #333;
}

.social-media .linkedin {
    background-color: rgb(10 102 194 / 30%);
    color: #0a66c2;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0a66c2;
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .instagram {
    background-color: rgb(225 48 108 / 20%);
    color: #e1306c;
}

.social-media .instagram i,
.social-media .instagram a {
    background-color: #e1306c;
}

/* End  Social Media Stats */

/* Start Projects Table */
.project .content-table {
    overflow-x: auto;
}

.project table {
    min-width: 1000px;
}

.project thead td {
    background-color: #eee;
    font-weight: bold;
}

.project table td {
    padding: 15px;
}

.project tbody td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: .3s;
}

.project .lapel {
    font-size: 13px;
}

.project tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.project tbody tr:hover td {
    background-color: #faf7f7;
}

.project tbody img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.project tbody img:not(:first-child) {
    margin-left: -20px;
}

/* End Projects Table */


/* Start settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.settings-page .close-msg {
    resize: none;
    border: 1px solid #ccc;
    min-height: 150px;
}

.toggle-box {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "\f00d";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    top: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.toggle-box:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-box:checked+.toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-alt-color);
}

/* End settings */

/* Start  security Info */
.settings-page .security:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.settings-page .security .button {
    transition: 0.3s;
}

.settings-page .security .button:hover {
    background-color: var(--blue-color);
}

/* End  security Info */

/*  Start Social Info */
.settings-page .social i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: .3s;
}

.settings-page .social input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
    padding-left: 10px;
}

.settings-page .social>div:focus-within i {
    color: black;
}
.settings-page .social>div:focus-within  {
    border: 1px solid #1c1c1c9e;
    border-radius: 6px;
}

/*  End Social Info */


















/* Start Mobile */
@media(max-width:767px) {
    .h-mobile {
        display: none;
    }

    .sidebar {
        width: 55px;
        padding: 10px;
    }

    .sidebar h3 {
        font-size: 13px;
        margin: 10px 0;
    }

    .sidebar h3::after,
    .sidebar h3::before {
        display: none;
    }

    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        border: none;
        box-shadow: none;
    }

    .welcome .body div:not(:last-child) {
        margin-bottom: 20px;
    }

    .ticket .box {
        width: calc(100%);
    }


    .latest .label {
        margin: 10px auto;
        width: fit-content;
    }

    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* End Mobile */